@import '~@/less/index.less';

@menu-heihgt: 64px;

.spr-nav {
    background-color: #1e2428;

    .content {
        max-width: 1400px;
        margin: 0 auto;

        img {
            width: 60px;
            height: 60px;
        }

        .spr-menu {
            border-bottom: none;
            height: @menu-heihgt;
            line-height: @menu-heihgt;
            color: #ffffff;
            background-color: transparent;
        }
    }
}

// .ant-menu-horizontal>.ant-menu-item {
//     &:hover {
//         border-bottom: none;
//         color: @--color-1;
//         background-color: #272c30;
//     }
// }

.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-item-selected {
    background-color: #0891aa;
    border-bottom: none;
    color: #ffffff;
}