.spr-nav {
    background-color: #427292;

    .spr-menu {
        background-color: #427292;
        border-bottom: none;
        height: 100%;
        line-height: 64px;
        color: #ffffff;
    }
}